h1, h2 {
    font-family: Georgia, Times, serif;
    font-weight: normal;
    color: #0088dd;
}

p {
  text-align: justify;
  font-family: Arial, Verdana, sans-serif;
}
.nav a {
  color: grey;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav img {
  height: 50px;
  width: 50px;
}

.jumbotron {
  background-image:url(images/dead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;  
  font-weight: bold;
}

.jumbotron h2 {
  font-size: 30px;
  color: #fff;
}

.contact {
  text-align: center;
}


.bottom {
  margin: 5px 0;
  border-top: 1px solid #dbdbdb;
}

.studio {
  padding-top: 40px;
}

.studio .container {
  padding-bottom: 30px;
}

.crew {
  padding-top: 60px;
}


table, th, td {
  border: 1px solid black;
  padding: 4px 4px 4px 4px;
}

table {
  width: 100%;
}
